:root {
  --white: #FFFFFF;
  --black: #000000;
  --offwhite: #FDFDFC;
  --warmwhite: #F6F5EF;
  --beige: #D3CBC1;
  --darkgreen: #262F2B;
  --wbgreen: #163029;
  --wblightgreen: #A9B89E;
  --wboffwhite: #EFEDE6;
  --wrrose: #633B35;
  --wrdarkpink: #875C5A;
  --wrpink: #D4B6B4;
  --wgreen: #474938;
  --wgrey: #8E8982;
  --font-heading: 'priori-sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-body: 'Spectral', Georgia, Cambria, 'Times New Roman', Times, serif;
}

body {
  margin: 0;
  font-weight: 300;
  font-style: 'normal';
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--warmwhite);
}

.heading {
  font-weight: 700;
  font-style: 'normal';
  font-family: var(--font-heading);
  text-transform: uppercase;
}

.page {
  width: 100vw;
  height: 100vh;
}

.alice-carousel__prev-btn,
.alice-carousel__next-btn,
.alice-carousel__dots {
  display: none !important;
}

.mapboxgl-ctrl,
.mapboxgl-ctrl-attrib,
.mapboxgl-compact {
  display: none !important;
}