#sweepsiframe {
  width: 100%; /*REQUIRED – DO NOT ALTER*/
  height:100%; /*REQUIRED – DO NOT ALTER*/
  overflow:hidden; /*REQUIRED – DO NOT ALTER*/
  min-height: 1200px;

  /* More styles can be added as needed based on site design */
  border: none !important;
}