/*
Author: BISHOP
Description: Prismic White Claw
Version: 1.0
*/

@import "_partials/_variables";
@import "_partials/_fonts";
@import "_partials/_common";
@import "_partials/_nav";
@import "_partials/_age_gate";
@import "_partials/_region-select";
@import "_partials/_modal";
@import "_partials/_home-hero";
@import "_partials/_home-video-hero";
@import "_partials/_crack-the-claw";
@import "_partials/_clawback";
@import "_partials/_home-film";
@import "_partials/_home-social";
@import "_partials/_pages";
@import "_partials/_pages-product-details";
@import "_partials/_pages-our-story";
@import "_partials/_pages-about-us";
@import "_partials/_product-range";
@import "_partials/_product-locator";
@import "_partials/_footer";
@import "_partials/_country-selector";
@import "_partials/_newsletter";
@import "_partials/_microsite";
@import "_partials/_new-products";
@import "_partials/_products";
@import "_partials/_dja-page";
@import "_partials/_preloader";
@import "_partials/whiteclawgear-rules";


// @import "_partials/_home-new";
// @import "_partials/_home-carousel";
// @import "_partials/_home-picker";
// @import "_partials/_pages-flavors";
// @import "_partials/_pages-flavors-single";
// @import "_partials/_surf-tour";
// @import "_partials/_deep-dive";
// @import "_partials/refreshment-reinvented";
// @import "_partials/_dark-mode-overrides";
// @import "_partials/_full-page-modal";